.chat-side
  .chat-side__side-header
    .chat-side__side-header__one
      .chat-side__side-header__one__user-name
        masa
      .chat-side__side-header__one__user-menu
        .chat-side__side-header__one__user-menu__new-group
          =link_to "https://fontawesome.com/icons/edit?style=solid" do
            = icon('far', 'edit')
          =link_to "https://fontawesome.com/icons/cog?style=solid" do
            = icon('fas', 'cog')
        .chat-side__side-header__one__user-menu__edit-user    
          
    
  .groups
    .groups__groups-messages
      .groups__groups-messages__group-name
        tech-camp
      .groups__groups-messages__latest-message
        まだメッセージがありません
        
        
  
    
    
    
